################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Ignore node_modules and .env in backend
backend/node_modules/
backend/.env

# Ignore node_modules and .env in frontend
frontend/node_modules/
frontend/.env
